

.image-info {
 font-size: 9px;
  color: white;
}

.image{
  width: 300px;
  margin: 10px;

}

.icon{
  border-radius: 25px;
  width: 410px;
}


.search-field{
  width: 410px;
  border-radius: 5px;
  height: 40px;
  font-size: 30px;
  margin-top: 20px;
}

.image-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

h1{
  font-size: 12px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
